<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Basics</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>basic.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlet</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>basic.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/TableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>basic.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>basic.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateServlet</display-name>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>basic.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalDateTimeServlet</display-name>
    <servlet-name>LocalDateTimeServlet</servlet-name>
    <servlet-class>basic.LocalDateTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalDateTimeServlet</servlet-name>
    <url-pattern>/localdatetime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateTime</display-name>
    <servlet-name>DateTime</servlet-name>
    <servlet-class>basic.DateTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateTime</servlet-name>
    <url-pattern>/datetime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>basic.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
</web-app>